.container { 
    display: flex; 
    justify-content: flex-start;
    flex: 1 1 auto; 
    gap: 0px;
}

.row { 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 0px;
    color: blue;
}

.cell{ 
   width: 50px;
   height: 50px;
